@use "sass:color";
@import "colors.scss";
@import "animations.scss";

.flex-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.main {
  height: 100vh;
  min-height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;

  & > div {
    scroll-snap-align: center;
    @media (min-width: 992px) {
      padding-left: 20vw;
      padding-right: 20vw;
    }
  }

  @supports (-webkit-hyphens: none) {
    scroll-snap-type: none;
    max-height: -webkit-fill-available;
    min-height: -webkit-fill-available;
  }
}

.hero {
  --dimension: 80vmin;

  @media (min-width: 768px) {
    --dimension: 50vmin;
  }
  min-height: 90vh;
  transform: translateZ(-1px) scale(2);

  @extend .flex-section;
  @media (min-width: 768px) {
    flex-direction: row;
  }

  .imgWrapper {
    border-radius: 500px;
    position: relative;
    display: flex;

    width: var(--dimension);
    height: var(--dimension);

    margin: 3em;
    animation: shadows 15s infinite linear;

    div {
      --tint: 0;
      border-radius: 500px;
      width: 100%;
      box-shadow: inset 0px 0px 1.75em 0.25em hsla(var(--tint), 100%, 50%, 0.5);

      img {
        clip-path: circle(50%);
        position: relative;
        z-index: -1;
        display: flex;
        margin: auto;
        width: 100%;
      }
    }
  }

  h1,
  h4 {
    text-align: center;
  }

  h4 {
    opacity: 0.8;
    text-transform: uppercase;
  }
}

.aboutMe {
  --bg: #1d343991;
  background-color: var(--bg);
  backdrop-filter: blur(16px);
  clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0 97%);

  @extend .flex-section;

  h2,
  p {
    color: $white;
    text-align: center;
  }

  padding: 3em;

  position: relative;
  z-index: 1;

  > div {
    max-width: 768px;
  }
}

.tech {
  --bg: transparent;
  background-color: var(--bg);

  @extend .flex-section;
  min-height: 90vh;

  h2,
  p {
    color: $white;
  }

  padding: 3em;
  .techWrapper {
    display: grid;
    width: 100%;
    grid-template: repeat(4, 25%) / 33.333% 33.334% 33.333%;
    justify-items: center;
    align-items: center;
    margin-top: 2em;

    @media (min-width: 768px) {
      grid-template: 33.333% 33.334% 33.333% / repeat(4, 25%);
      padding-left: 10vh;
      padding-right: 10vh;
      max-width: 1024px;
    }

    transition: height 2s ease-in-out;

    a {
      margin: 1em 0px;

      img {
        @media (min-width: 768px) {
          transform: scale(0.9);
        }
      }

      span {
        opacity: 0;
        transform: translateY(50%);
        transition: all 0.5s ease-in-out;
      }

      &:hover {
        span {
          opacity: 1;
          transform: translateY(0px);
        }
      }

      @media (max-width: 768px) {
        span {
          display: none;
        }
      }
    }
  }
}

.contacts {
  position: relative;
  --bg: #1d343991;
  background-color: var(--bg);
  backdrop-filter: blur(16px);
  clip-path: polygon(0 0%, 100% 3%, 100% 100%, 0 100%);

  &,
  h2 {
    color: $white;
  }

  @extend .flex-section;

  a {
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    text-decoration: none;
    padding: 0.5em 3ch;
    border-radius: 10px;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2,
  a {
    margin-bottom: 1em;
  }

  h2 {
    margin-top: 2em;
  }

  div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    padding-bottom: 4em;
  }
}

.footer {
  position: absolute;
  bottom: 2em;
}
