@use "sass:color";
@import "colors.scss";
@import "animations.scss";
@import "mixin";

.flex-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.main {
  height: 100vh;
  min-height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;

  & > div {
    scroll-snap-align: center;
    @media (min-width: 992px) {
      padding-left: 20vw;
      padding-right: 20vw;
    }
  }

  @supports (-webkit-hyphens: none) {
    scroll-snap-type: none;
    max-height: -webkit-fill-available;
    min-height: -webkit-fill-available;
  }
}

.hero {
  --dimension: 80vmin;

  @include screen-md {
    --dimension: 50vmin;
  }
  min-height: 90vh;
  transform: translateZ(-1px) scale(2);

  @extend .flex-section;
  @include screen-md {
    flex-direction: row;
  }

  .imgWrapper {
    border-radius: 500px;
    position: relative;
    display: flex;

    width: var(--dimension);
    height: var(--dimension);

    margin: 3em;
    animation: shadows 15s infinite linear;

    div {
      --tint: 0;
      border-radius: 500px;
      width: 100%;
      box-shadow: inset 0px 0px 1.75em 0.25em hsla(var(--tint), 100%, 50%, 0.5);

      img {
        clip-path: circle(50%);
        position: relative;
        z-index: -1;
        display: flex;
        margin: auto;
        width: 100%;
      }
    }
  }

  h1,
  h4 {
    text-align: center;
  }

  h4 {
    opacity: 0.8;
    text-transform: uppercase;
  }
}

.aboutMe {
  --bg: #1d343991;
  background-color: var(--bg);
  backdrop-filter: blur(16px);
  clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0 97%);

  @extend .flex-section;

  h2,
  p {
    color: $white;
    a {
      color: #00ff84;
    }
  }

  padding: 3em;

  position: relative;
  z-index: 1;

  > div {
    max-width: 768px;
  }
}

.tech {
  --bg: transparent;
  background-color: var(--bg);

  @extend .flex-section;
  min-height: 90vh;

  h2,
  p {
    color: $white;
  }

  padding: 3em;
  .techWrapper {
    display: grid;
    width: 100%;
    grid-template: repeat(4, 25%) / 33.333% 33.334% 33.333%;
    // grid-template: repeat(5, 20%) / 33.333% 33.334% 33.333%;
    justify-items: center;
    align-items: center;
    margin-top: 2em;

    @include screen-md {
      grid-template: 33.333% 33.334% 33.333% / repeat(4, 25%);
      // grid-template: 33.333% 33.334% 33.333% / repeat(5, 20%);
      padding-left: 10vh;
      padding-right: 10vh;
      max-width: 1024px;
    }

    transition: height 2s ease-in-out;

    a {
      margin: 1em 0px;

      img {
        @include screen-md {
          transform: scale(0.9);
        }
      }

      span {
        opacity: 0;
        transform: translateY(50%);
        transition: all 0.5s ease-in-out;
      }

      &:hover {
        span {
          opacity: 1;
          transform: translateY(0px);
        }
      }

      @media (max-width: 768px) {
        span {
          display: none;
        }
      }
    }
  }
}

.projects {
  @extend .flex-section;

  --bg: #1d343991;
  background-color: var(--bg);
  backdrop-filter: blur(16px);
  clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0 97%);
  padding: 3em;
  min-height: 90vh;

  a {
    color: $link;
    cursor: pointer;
  }

  .wrapper {
    margin-top: 2em;
    max-width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: 1.25em;

    > p {
      @include screen-md {
        // padding-inline: 2em;
      }
    }

    .project {
      display: flex;
      justify-content: space-between;
      gap: 4ch;

      @include screen-md {
        flex-basis: calc(50% - 2ch);
        margin-bottom: 1em;
        height: 20vh;
      }

      .imgWrapper {
        min-width: 130px;
        max-width: 130px;
        display: grid;
        place-items: center;

        > * {
          max-width: 100%;
        }

        .diskretaThumbnail {
          border-radius: 1.5em;
        }

        .elementalFusionThumbnail {
          object-position: 26% 44%;
          border-radius: 1.5em;
          object-fit: none;
        }

        .musikMenuThumbnail {
          position: relative;
          width: 120px;
          height: 120px;
          svg {
            width: 80px !important;
            height: 80px !important;
          }
          display: grid;
          place-items: center;

          .square {
            position: absolute;
            border: 5px solid rgb(255, 196, 0);
            inset: 0%;
            animation: rotating 4s ease-in-out forwards;
            @keyframes rotating {
              0% {
                transform: rotate(0deg);
              }
              100% {
                transform: rotate(90deg);
              }
            }
          }

          @include screen-md {
            width: 120px;
            height: 120px;
            svg {
              width: 100px !important;
              height: 100px !important;
            }
          }
        }
      }

      .caption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-basis: 65%;
      }

      &:nth-of-type(odd) {
        flex-direction: row-reverse;
        @include screen-md {
          flex-direction: row;
        }
      }
    }
  }

  & + dialog {
    a {
      color: $link;
      cursor: pointer;
    }
    background: rgba(13, 13, 13, 0.8);
    backdrop-filter: blur(16px);
    border: none;
    border-radius: 0px;
    padding: 4em;
    color: $white;

    &[open] {
      animation: fadeIn 0.5s ease-in-out forwards;
      &.closing {
        animation: fadeOut 0.5s ease-in-out forwards;
      }
      @keyframes fadeOut {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 0px;
    }

    &::backdrop {
      background: rgba(13, 13, 13, 0.3);
    }

    .modalMediaWrapper {
      height: 35vh;
      display: flex;
      justify-content: center;
      img {
        max-width: 100%;
      }
    }

    ul {
      padding-inline-start: unset;
    }

    ul.links {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2ch;
      li {
        list-style-type: none;
        width: 100px;
        height: 100px;
        border: 1px solid hsla(100, 100%, 100%, 0.5);
        padding: 1em;
        display: grid;
        place-items: center;
        text-align: center;
      }
    }

    ul.features {
      flex-basis: 60%;
      margin-inline-start: 4em;
      margin-inline-end: 2em;
      li {
        margin-bottom: 1em;
      }
    }

    .stack {
      display: flex;
      flex-grow: 1;
      > div {
        flex-grow: 1;
      }
      ul li {
        list-style: none;
        position: relative;
        line-height: 2em;
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          display: block;
          width: 90%;
          height: 1px;
          background: linear-gradient(to right, hsla(100, 100%, 100%, 0.5), transparent);
        }
      }
    }

    .dialogClose {
      position: absolute;
      top: 1em;
      right: 1em;
      background: transparent;
      outline-color: transparent;
      box-shadow: none;
      border: none;
      cursor: pointer;
      color: $white;
      font-size: 2em;
      transition: transform 0.5s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
      &::after {
        content: "×";
      }
    }
  }
}

.contacts {
  position: relative;
  // --bg: #1d343991;
  // background-color: var(--bg);
  // backdrop-filter: blur(16px);
  // clip-path: polygon(0 0%, 100% 3%, 100% 100%, 0 100%);

  &,
  h2 {
    color: $white;
  }

  @extend .flex-section;

  a {
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    text-decoration: none;
    padding: 0.5em 3ch;
    border-radius: 10px;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2,
  a {
    margin-bottom: 1em;
  }

  h2 {
    margin-top: 2em;
  }

  div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    padding-bottom: 4em;
  }
}

.footer {
  position: absolute;
  bottom: 2em;
}
